
* {box-sizing: border-box;}

    .wrapper {
        max-width: 1024px;
        margin: 0 auto;
        font: 1em Roboto, Helvetica, arial, sans-serif;
    }

    .wrapper > * {
        border-radius: 5px;
        padding: 15px;
        box-shadow: 0 3px 7px rgba(0,0,0,0.19), 0 1px 1px rgba(0,0,0,0.23);
    }


.main-head {
  grid-area: header;
}
#content {
  grid-area: content;
}
.main-nav {
  grid-area: nav;
}

.main-footer {
  grid-area: footer;
}
.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
    "header"
    "nav"
    "content"
    "footer";
}

@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
      "header"
      "nav"
      "content"
      "footer";
  }

}

@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
      "header header "
      "nav    content"
      "footer footer"
   }
 }


th, td {
 padding: 15px;
 text-align: center;
 border-bottom: 
 2px solid #ddd;
}

#ini {
  display: table;
  margin: 12 auto;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  background-color:#f9f9f9;
  border-radius:6px;
  border:1px solid #dcdcdc;
  cursor:pointer;
  color:#666666;
  padding:6px 24px;
  text-shadow:0px 1px 0px #ffffff;
}

p {
  text-align: justify;
  text-justify: inter-word;
}
h1 {
  text-align:center;
}
h2 {
  text-align:right;
}

